# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.ini text eol=crlf
*.dat binary
*.exe binary
*.gif binary
*.gz binary
*.jpeg binary
*.jpg binary
*.ole binary
*.pdf binary
*.png binary
*.rar binary
*.rtf binary
*.swf binary
*.tar binary
*.xdp binary
*.zip binary

# Refer to:
# https://github.com/github/linguist

*.md linguist-documentation
*.txt linguist-documentation

.github/* -linguist-detectable
.tests/* -linguist-detectable

# Stuff not needed for dist installs. Refer to:
# https://git-scm.com/docs/gitattributes#_creating_an_archive
# https://getcomposer.org/doc/06-config.md#preferred-install

/.github export-ignore
/.tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/tests.php export-ignore

# Going to be a bit more explicit about languages in order to ensure that files
# are detected and identified *correctly*. Refer to:
# https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml

*.php linguist-language=PHP
*.yml linguist-language=YAML
